.main {}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.scrollText {
  font-size: 5rem;
  font-weight: bold;
}

.layer {
  background-image: url('/layer-one-bg.png');
  background-position: 50%;
  z-index: 10;
}
